<h3>You are in Game <%= @type_race.id %></h3>
<span id = "minutes"></span><span id = "seconds"></span>
<span id = "stat_count"><%= @type_race.type_race_stats.count%></span>
<span id = "gameTimer"> </span>
<p> All The users in this Type race are </p>
<% User.all.each do |user| %>
  <li class="race_users"><%= user.id%></li>
<% end %>
<%= render 'form', template:@template %>
<%= link_to 'Back' , type_races_index_path %>
